extends ./layout/default

block title
 title koa douban 首页
block content 
 .container-fluid
  .col-12.col-md-3.col-xl-2.sidebar
   nav.col-md-2.d-none.d-md-block.bg-light.sidebar
    .sidebar-sticky
     ul.nav.flex-column
      li.nav-item
       a.nav-link.active(href="#") link1
      li.nav-item
       a.nav-link(href="#") link2
  .col-12.col-md-9.col-xl-9.py-md-3.pl-md-5.content
   .row
    .col-md-6
     .card
      img.card-img-top(src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2551995207.webp",
      data-video="http://vt1.doubanio.com/201906021238/9fba0e37b2ae4515bcda27450605af64/view/movie/M/402440969.mp4")
      .card-body
       h4.card-title 这是电影标题
       p.card-desc 这是电影描述
      .card-footer
       small.text-muted 1天前更新
    .col-md-6
     .card
      img.card-img-top(src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2551995207.webp",
      data-video="http://vt1.doubanio.com/201906021238/9fba0e37b2ae4515bcda27450605af64/view/movie/M/402440969.mp4")
      .card-body
       h4.card-title 这是电影标题
       p.card-desc 这是电影描述
      .card-footer
       small.text-muted 1天前更新
   .row
    .col-md-6
     .card
      img.card-img-top(src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2551995207.webp",
      data-video="http://vt1.doubanio.com/201906021238/9fba0e37b2ae4515bcda27450605af64/view/movie/M/402440969.mp4")
      .card-body
       h4.card-title 这是电影标题
       p.card-desc 这是电影描述
      .card-footer
       small.text-muted 1天前更新
    .col-md-6
     .card
      img.card-img-top(src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2551995207.webp",
      data-video="http://vt1.doubanio.com/201906021238/9fba0e37b2ae4515bcda27450605af64/view/movie/M/402440969.mp4")
      .card-body
       h4.card-title 这是电影标题
       p.card-desc 这是电影描述
      .card-footer
       small.text-muted 1天前更新